Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-CORS
SQLAlchemy
Werkzeug
python-dotenv
alembic
gunicorn
gevent
psycopg2-binary
mysqlclient  # For MySQL support in production
pymysql  # Alternative MySQL driver
cryptography  # Required for PyMySQL
Jinja2
itsdangerous
click
blinker
packaging
opencv-python
mediapipe



# Flask==2.3.3
# Flask-SQLAlchemy==3.0.5
# Flask-Migrate==4.0.4
# Flask-CORS==4.0.0
# SQLAlchemy==2.0.20
# Werkzeug==2.3.7
# python-dotenv==1.0.0
# alembic==1.11.3
# gunicorn==21.2.0
# gevent==23.7.0
# psycopg2-binary==2.9.7
# mysqlclient==2.2.0  # For MySQL support in production
# pymysql==1.1.0  # Alternative MySQL driver
# cryptography==41.0.4  # Required for PyMySQL
# Jinja2==3.1.2
# itsdangerous==2.1.2
# click==8.1.7
# blinker==1.6.3
# packaging==23.1
# opencv-python==4.5.3.56
# mediapipe==0.8.9.1
