{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <div class="alert alert-danger">
                <h2><i class="fas fa-exclamation-circle"></i> Link Expired</h2>
                <p class="lead">This job application link has expired.</p>
                <p>Please contact the recruiter for an updated link or check our careers page for other opportunities.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
