{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <div class="alert alert-warning">
                <h2><i class="fas fa-pause-circle"></i> Position Inactive</h2>
                <p class="lead">This job position is currently not accepting applications.</p>
                <p>Please check back later or explore other opportunities on our careers page.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
